* {
  font-family: var(--default-font);
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent;
}

.show-menu {
  opacity: 1 !important;
  transition: 1s all ease !important;
  pointer-events: all !important;
}
