.hero-wrapper {
  max-width: 1200px;
  margin: 0px auto;
  @include flex-col-reverse;
  @include width-height-full;
  text-align: center;
  padding: var(--header-padding-gap) var(--mobile-padding-gap);
  @include screen('desktop') {
    @include flex-row;
    align-items: flex-start;
    text-align: left;
    padding: 120px var(--mobile-padding-gap);
    .block1 {
      width: 51.6666%;
    }
    .block2 {
      width: 48.3333%;
    }
  }
  @include screen('desktop-lg') {
    padding: 120px 0px;
  }
}

.services-wrapper {
  max-width: 1200px;
  margin: 0px auto;
  @include width-height-full;
  padding: var(--header-padding-gap) var(--mobile-padding-gap);
}

.hero-img-wrapper {
  @include width-height-full;
  margin-bottom: 20px;
  border-radius: 20px;
  img {
    width: 100%;
    height: auto;
    border-radius: inherit;
  }
}

section.hero {
  background: var(--bg-default);
  color: var(--text-color-white);
  h1.hero-title {
    font-size: 1.625em;
    line-height: 1.4375em;
    margin-bottom: 20px;
    max-width: 600px;
    &::first-letter {
      text-transform: uppercase;
    }
    @include screen('desktop') {
      font-size: 2.625em;
    }
  }
  p.hero-sub-title {
    font-size: 1.125em;
    line-height: 1.4em;
    margin-bottom: 20px;
    max-width: 540px;
  }
  button.hero-btn {
    padding: 1.6255em 3.7em;
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--text-color-white);
    background: var(--bg-orange);
    border-radius: 20px;
  }
}

section.services {
  background: var(--bg-white-2);
  .row {
    justify-content: center;
    @include screen('desktop') {
      justify-content: space-between;
    }
    .card:not(:first-child) {
      display: none;
      @include screen('desktop') {
        display: block;
      }
    }
  }

  .company {
    .card {
      padding: 16px 30px;
      height: 122px;
      @include screen('desktop') {
        margin-right: 24px;
      }
    }
  }
  .card {
    width: 330px;
    margin-bottom: 30px;
    @include screen('desktop') {
      margin-right: 20px;
    }
  }
  p {
    color: var(--text-color-blue-2);
  }
  h2.services-title {
    font-size: 1.75em;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 30px;
    @include screen('desktop') {
      font-size: 2em;
      margin-bottom: 50px;
    }
  }
  p.customer-name {
    font-size: 1.3em;
    font-weight: 700;
    margin-bottom: 10px;
  }
  p.customer-job {
    font-size: 0.875em;
    margin-bottom: 20px;
  }
  p.customer-message {
    font-size: 1em;
    line-height: 1.7em;
  }
  p.company-name {
    font-size: 0.75em;
    line-height: 1.5em;
    color: var(--text-color-gray);
    margin-bottom: 12px;
  }
}
