.hero-wrapper {
  @include wrapper-default;
  @include flex-col-reverse;
  @include width-height-full;
  text-align: center;
  @include screen('desktop') {
    @include flex-row;
    align-items: flex-start;
    text-align: left;
    padding: 120px var(--mobile-padding-gap);
    .block1 {
      width: 51.6666%;
    }
    .block2 {
      width: 48.3333%;
    }
  }
  @include screen('desktop-lg') {
    padding: 120px 0px;
  }
}

.services-wrapper {
  @include wrapper-default;
  @include width-height-full;
}

.experience-wrapper {
  @include wrapper-default;
  @include width-height-full;
  text-align: center;
}

.about-hostingor-wrapper {
  @include wrapper-default;
  max-width: 930px;
  @include width-height-full;
  text-align: center;
}

.hostingor-img-wrapper {
  @include width-height-full;
  margin-bottom: 20px;
  border-radius: 20px;
  img {
    width: 100%;
    height: auto;
    border-radius: inherit;
  }
}

section.hero {
  background: var(--bg-default);
  color: var(--text-color-white);
  h1.hero-title {
    margin-bottom: 20px;
    max-width: 600px;
    font-size: 1.625em;
    line-height: 1.4375em;
    &::first-letter {
      text-transform: uppercase;
    }
    @include screen('desktop') {
      font-size: 2.625em;
    }
  }
  p.hero-sub-title {
    margin-bottom: 20px;
    max-width: 540px;
    font-size: 1.125em;
    line-height: 1.4em;
  }
  button.hero-btn {
    padding: 1.6255em 3.7em;
    margin-top: 20px;
    border-radius: 20px;
    background: var(--bg-orange);
    color: var(--text-color-white);
    font-weight: 700;
    text-transform: uppercase;
  }
}

section.services {
  background: var(--bg-white-2);
  .row {
    @include card-view;
  }

  .company {
    .card {
      padding: 16px 30px;
      height: 122px;
      @include screen('desktop') {
        margin-right: 24px;
      }
    }
  }
  .card {
    width: 330px;
    margin-bottom: 30px;
    @include screen('desktop') {
      margin-right: 20px;
      max-width: 390px;
    }
  }
  p {
    color: var(--text-color-blue-2);
  }
  h2.services-title {
    margin-bottom: 30px;
    font-size: 1.75em;
    text-align: center;
    text-transform: capitalize;
    @include screen('desktop') {
      font-size: 2em;
      margin-bottom: 50px;
    }
  }
  p.company-name {
    margin-bottom: 12px;
    font-size: 0.75em;
    line-height: 1.5em;
    color: var(--text-color-gray);
  }
}

section.experience {
  background: var(--bg-default);
  .row {
    @include card-view;
  }
  .card {
    @include screen('desktop') {
      margin-right: 20px;
      max-width: 390px;
    }
  }
  .img-wrapper {
    width: 80px;
    height: 80px;
    padding: 10px;
    margin: 0px auto 20px;
    border-radius: 20px;
    background: var(--bg-orange-2);
  }
  h2.experience-title {
    margin: 0px auto 20px;
    max-width: 685px;
    font-size: 1.45em;
    line-height: 1.5em;
    font-weight: 700;
    color: var(--text-color-white);
    &::first-letter {
      text-transform: uppercase;
    }
    @include screen('desktop') {
      font-size: 2em;
    }
  }
  p.experience-sub-title {
    margin-bottom: 50px;
    font-size: 1em;
    line-height: 1.5em;
    font-weight: 400;
    color: var(--text-color-white);
  }
}

section.about-hostingor {
  h3.title {
    margin-bottom: 30px;
    font-size: 1em;
    letter-spacing: 0.4em;
    text-transform: capitalize;
    color: var(--text-color-black-2);
  }
  h2.about-hostingor-title {
    margin-bottom: 20px;
    font-size: 1.6em; // * 2.625em olacak
    line-height: 1.5em;
    font-weight: 700;
    color: var(--text-color-black);
    text-transform: capitalize;
  }
  p.about-hostinger-sub-title {
    margin-bottom: 30px;
    font-size: 1em;
    line-height: 1.5em;
    color: var(--text-color-black-3);
  }
  .hostingor-img-wrapper {
    margin-bottom: 35px;
  }
  ul.services-list {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    .block1,
    .block2 {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: flex-start;
      margin-bottom: 30px;
      @include screen('tablet') {
        margin-right: 65px;
        margin-bottom: 0;
      }
    }
    @include screen('tablet') {
      flex-flow: row nowrap;
      align-items: center;
      justify-content: center;
    }
    li.services-list-item {
      display: inline-flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 30px;
      font-size: 1em;
      font-weight: 700;
      color: var(--text-color-black);
      &:last-child {
        margin-bottom: 0px;
      }
      p {
        margin-left: 10px;
      }
    }
  }
}
