.header-wrapper {
  max-width: 1200px;
  margin: 0px auto;
  @include width-height-full;
  position: relative; // * mobile menu için
  @include flex-row;
  padding: 0px var(--mobile-padding-gap);
  @include screen('desktop-lg') {
    padding: 0px;
  }
}

header {
  height: var(--header-height);
  background: var(--bg-default);
}

.logo {
  a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    p {
      margin-left: 12px;
      font-size: 1.45em;
      color: var(--text-color-white);
      font-weight: 700;
    }
  }
}

nav {
  margin-left: auto;
  button.mobile-menu-btn {
    @include screen('desktop') {
      display: none;
    }
  }
  ul.mobile-menu {
    position: absolute;
    top: var(--header-height);
    left: 0px;
    width: 100%;
    padding: var(--mobile-padding-gap);
    background: var(--bg-default);
    opacity: 0;
    transition: 1s opacity ease;
    pointer-events: none;
    @include screen('desktop') {
      position: static;
      @include flex-row;
      opacity: 1;
      transition: none;
      background: none;
      pointer-events: all;
    }
    li {
      font-size: 1rem;
      margin-bottom: 20px;
      &:last-child {
        margin-bottom: 0px;
      }
      @include screen('desktop') {
        margin: 0px;
      }
      a {
        padding: var(--link-padding);
        font-size: 1em;
        color: var(--text-color-white);
        font-weight: 700;
        text-transform: capitalize;
      }
    }
  }
}
