@mixin screen($device: 'mobile') {
  @if ($device == 'mobile') {
    @media (min-width: 576px) {
      @content;
    }
  } @else if($device == 'tablet') {
    @media (min-width: 768px) {
      @content;
    }
  } @else if($device == 'desktop') {
    @media (min-width: 992px) {
      @content;
    }
  } @else if($device == 'desktop-lg') {
    @media (min-width: 1200px) {
      @content;
    }
  }
}

@mixin flex-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

@mixin flex-col-reverse {
  display: flex;
  flex-flow: column-reverse nowrap;
  justify-content: center;
  align-items: center;
}

@mixin width-height-full {
  width: 100%;
  height: 100%;
}
