@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
:root {
  // * bakground
  --bg-default: rgba(42, 119, 247, 1);
  --bg-orange: #ef7f3c;
  --bg-white: #fff;
  --bg-white-2: #f2f5ff;
  --bg-black: #061d36;
  // * text color
  --text-color-white: #fff;
  --text-color-black: #000000;
  --text-color-black-2: #111111;
  --text-color-blue-2: #002348;
  --text-color-gray: #a3a3a3;
  --text-color-gray-2: #5a6978;

  // * font
  --default-font: 'Montserrat', sans-serif;
  // * gap

  --mobile-padding-gap: 20px;
  --header-padding-gap: 40px;

  // * height

  --header-height: 112px;

  // * padding
  --link-padding: 12px 18px;
}
